<!DOCTYPE html>
<html ng-app="boutiqueApp">

<head>
    <title>Boutique</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="js/app.js"></script>
</head>


<body ng-controller="boutiqueController">
    <div class="container">
        <div class="jumbotron">
            <h1><a href="#">Boutique name</a></h1>
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-repeat="category in categories"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{category.name}} <span class="caret" ng-if="category.subcategories != ''"></span></a>
                            <ul class="dropdown-menu" ng-if="category.subcategories != ''">
                                <li ng-repeat="subcategory in category.subcategories"><a href="#">{{subcategory.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span></button>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-heart"></span></button>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="content">

        </div>
    </div>
</body>

</html>